{% extends 'base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">My Assignments</li>
        </ol>
    </nav>
    <h2 class="mb-3">My Assignments</h2>
    <a href="{% url 'teachers:assignment_add' %}" class="btn btn-primary mb-3" role="button">Add Assignment</a>
    <div class="card">
        <table class="table mb-0">
            <thead>
            <tr>
                <th>Name</th>
                <th style="text-align: center">Course</th>
{#                <th style="text-align: center">Semester</th>#}
                <th style="text-align: center">Time</th>
                <th style="text-align: center">DueDate</th>
                <th style="text-align: center">Submissions</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for assignment in assignments %}
                <tr>
                    <td class="align-left"><a href="{% url 'teachers:assignment_detail' assignment.pk %}">{{ assignment.name }}</a></td>
                    <td style="text-align: center">{{ assignment.course }}</td>
{#                    <td style="text-align: center">{{ assignment.semester }}</td>#}
                    <td style="text-align: center">{{ assignment.createdTime | date:"j M H:i" }}</td>
                    <td style="text-align: center">{{ assignment.dueDate | date:"j M H:i"}}</td>
                    {% if assignment.num_solution == 0 %}
                        <td style="text-align: center"><a href="{% url 'teachers:assignment_solutions' assignment.pk %}" style="color: red">{{ assignment.num_solution }}</a></td>
                    {% else %}
                        <td style="text-align: center"><a href="{% url 'teachers:assignment_solutions' assignment.pk %}" style="color: green">{{ assignment.num_solution }}</a></td>
                    {% endif %}
                </tr>
            {% empty %}
                <tr>
                    <td class="bg-light text-center font-italic" colspan="5">You haven't created any Assignment yet.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
