{% extends 'base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">My Assignments</li>
        </ol>
    </nav>
    <h2 class="mb-3">My Assignments</h2>
{#    <a href="{% url 'teachers:quiz_add' %}" class="btn btn-primary mb-3" role="button">Add quiz</a>#}
    <div class="card">
        <table class="table mb-0">
            <thead>
            <tr>
                <th>Name</th>
                <th>Course</th>
                <th>Semester</th>
                <th>Time</th>
                <th>PostBy</th>
                <th>DueDate</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for assignment in assignments %}
                <tr>
                    {#                    <td class="align-middle"><a href="{% url 'teachers:quiz_change' quiz.pk %}">{{ quiz.name }}</a></td>#}
                    <td class="align-middle">{{ assignment.name }}</td>
                    <td class="align-middle">{{ assignment.course }}</td>
                    <td class="align-middle">{{ assignment.semester }}</td>
                    <td class="align-middle">{{ assignment.createdTime }}</td>
                    <td class="align-middle">{{ assignment.postBy }}</td>
                    <td class="align-middle">{{ assignment.dueDate }}</td>

{#                    <td class="text-right">#}
{#                        <a href="{% url 'teachers:quiz_results' quiz.pk %}" class="btn btn-primary">View results</a>#}
{#                    </td>#}
                </tr>
            {% empty %}
                <tr>
                    <td class="bg-light text-center font-italic" colspan="5">You haven't created any quiz yet.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
