{% extends 'base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">My Assignments</li>
        </ol>
    </nav>
    <h2 class="mb-3">My Assignments</h2>
    <div class="" style="overflow-x:auto;">
        <table class="table mb-0" style="border-spacing: 0; width: 100%; border: 2px solid #ddd">
            <thead>
            <tr>
                <th>Name</th>
                <th style="text-align: center">Course</th>
                <th style="text-align: center">Time</th>
                <th style="text-align: center">Instructor</th>
                <th style="text-align: center">DueDate</th>
                <th>Submitted</th>
            </tr>
            </thead>
            <tbody>
            {% for assignment in assignments %}
                <tr>
                    <td class="align-middle"><a href="{% url 'students:assignment_detail' assignment.pk %}">{{ assignment.name }}</a></td>
                    <td style="text-align: center">{{ assignment.course }}</td>
                    <td style="text-align: center">{{ assignment.createdTime | date:"j M H:i" }}</td>
                    <td style="text-align: center">{{ assignment.postBy }}</td>
                    <td style="text-align: center">{{ assignment.dueDate | date:"j M H:i" }}</td>
                    {% if assignment.done == 1 %}
{#                    <td>{{ assignment.num_solution }}</td>#}
                        <td><i class="fa fa-check-circle" style="font-size:20px; color:green"><span>&nbsp;&nbsp;</span>Submitted</i></td>
                    {% else %}
                        <td><i class="fa fa-times-circle" style="font-size:19px; color:red"><span>&nbsp;&nbsp;</span>Not Submitted</i></td>
                    {% endif %}
                </tr>
            {% empty %}
                <tr>
                    <td class="bg-light text-center font-italic" colspan="5">You haven't given any Assignment yet.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
